.subpage-header {
    position: relative;
    color: white;
}

.subpage-header::before {
    content: '';
    background: url("./assets/images/groceries-header-background.jpg") no-repeat fixed;
    background-size: cover;
    background-position: 0 0;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    z-index: $z0;
}

.nav-link {
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
}

.subpage-content {
    background-color: white;
    padding: 5.5rem 0;
}